.billingData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerInfo {
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.dateContainer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.dateContainer fieldset {
  width: auto;
}

/* table */
.table {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  border-spacing: 0px;
  overflow: hidden;
}

tbody {
  position: relative;
}

.table th {
  font-weight: 500;
  text-align: left;
  padding: 15px;
}

.table td {
  padding: 15px;
  border-bottom: 2px solid var(--color-border);
  word-break: keep-all;
  white-space: nowrap;
}

th:first-child,
td:first-child {
  padding-left: 60px;
}

tbody tr:hover {
  background: #fafafa;
}

tr.toggleRow {
  background: var(--color-bg-grey);
  cursor: pointer;
}

tr.toggleRow:hover {
  background: var(--color-bg-grey);
}

.amtCol {
  font-weight: bold;
}

/* Color Levels */
.green {
  color: green;
}

.orange {
  color: orange;
}
.red {
  color: red;
}

.icon {
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
}
