.header {
  margin-left: 60px;
  border-bottom: 1px solid var(--color-border);
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 20px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.subtitle {
  font-size: 12px;
  margin-top: 3px;
  color: var(--color-text-muted);
  text-align: end;
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}

fieldset {
  width: 350px;
  padding: 5px 10px;
  margin-top: -5px;
  border: 2px solid var(--color-border);
}

legend {
  font-size: 12px;
  color: var(--color-text-muted);
  padding: 0 5px;
}

.dropdown {
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  padding: 0 2px 5px 2px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--color-text);
}

.profile {
  color: var(--color-border);
  font-size: 32px;
}
