.navbar {
  border-right: 1px solid var(--color-border);
  width: 60px;
  height: 100dvh;
  position: fixed;
}

.navbar .menuIcon {
  color: var(--color-text);
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.navbar ul {
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.navbar a.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.navbar a.inActive {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.navbar li {
  color: inherit;
  background-color: inherit;
  padding: 6px;
}

.navbar li:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.bottomNav {
  position: absolute;
  bottom: 0;
}

.icon {
  font-size: 24px;
}
